
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @media screen and (max-width: 420px)  {
    .row {
      margin-top: 0;
      width: 100%;
    }
    /* blocco lezioni */
    .row h1{
      width: 100%;
      text-align: center;
      vertical-align: middle;
    }

      #lezioni .row>.left,
      #lezioni .row>.right{
      width: 100%;
      float: none;
      text-align: center;
      margin: 25px 0;
    }

    /* blocco steps */

    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
      float: none;
      display: block;
      width: 100%;
      margin: 25px 0;
    }

    /* blocco perchè */

    #why .row>.first,
    #why .row>.second,
    #why .row>.third {
      width: 100%;
      margin: 25px 0;
    }

    #why .row img {
      background-color: #428bca;
      border-radius: 50%;
      padding: 30px
    }
  }
  @media screen and (min-width: 421px) and (max-width: 780px) {
    .row {
      margin-top: 0;
      width: 100%;
      max-height: 100%;
    }
    /* blocco lezioni */
    .row h1{
      width: 100%;
      text-align: center;
    }

    /* blocco steps */
    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
      float: left;
      width: calc(100% / 3);
      margin: 25px 0;
    }
    #why .row>.first,
    #why .row>.second,
    #why .row>.third {
      width: calc(100% / 3);
      float: left;
      margin: 25px 0;
      padding: 5px;
      height: 100%;
    }

    hr{
      display: none;
    }

    }

    #why .row img {
      background-color: #428bca;
      border-radius: 50%;
      padding: 30px
    }

  }
